.App {
  text-align: center;
}
.sidebar-ul {
  padding: 40px;
  width: 200px;
  background: #303030;
  height: 100vh;
  color: #fff;
  margin-bottom: 0px !important;
  text-align: left;
  list-style-type: none;
}
.sidebar-ul li {
  padding: 5px 0;
}
.sidebar-ul li a {
  color: #fff !important;
  font-size: 18px;
  font-weight: bold;
}
.sidebar-ul li a:hover {
  font-size: 20px;
}
.sidebar-ul li a:link {
  text-decoration: none;
}
.filtered-result {
  width: 50%;
  margin: 5px auto;
  background-color: #303030;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.25s ease-out;
}
